* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #037067;
    --secondary-color: #4a0093;
    --title-text-color: #333333;
    --font-family-Poppins: "Poppins", sans-serif;
}

.header {
    width: 100%;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
    background: #fff;
}

h1 {
    font-size: 38px;
    color: var(--title-text-color);
    font-family: var(--font-family-Poppins);
    font-weight: 700;
}

h2 {
    font-size: 32px;
    color: var(--title-text-color);
    font-family: var(--font-family-Poppins);
    font-weight: 700;
}

h3 {
    font-size: 28px;
    color: var(--title-text-color);
    font-family: var(--font-family-Poppins);
    font-weight: 700;
}

h4 {
    font-size: 22px;
    color: var(--title-text-color);
    font-family: var(--font-family-Poppins);
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-family-Poppins);
}

.button_class {
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

.button_class:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background-color: var(--primary-color);
    color: #ffffff;
}

/* ------header-------*/

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 20%);
    z-index: 999;
    background: #fff;
    animation: 1.8s sdb05;
}

@keyframes sdb05 {
    0% {
        transform: translateY(-60px)
    }

    100% {
        transform: translateY(0)
    }
}

.header{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 99999;
    padding: 10px 0;
    background-color: #fff;
}

header .navbar-nav>a {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;       
}
header .navbar-nav>a:hover{
    color: var(--primary-color);
}

/* ---------------------banner section------------------------------ */

.banner_section {
    background-color: #ffffff;
}

.banner_section h2 {
    font-size: 54px;
}

.banner_section h4 {
    color: var(--secondary-color);
}




/*********************************************
        Footer css
*********************************************/
.footer-wrap{background: #232936; background-size: cover; padding: 50px 0 20px 0;}
.footer-wrap p{font-size: 14px; color:#bcc5d0; margin-top: 15px;}

.footer-wrap h3{font-size: 18px; margin-bottom: 20px; display: inline-block; font-weight: bold; font-family: 'Open Sans', sans-serif; color: #fff; margin-bottom: 25px;}
.footer-links{list-style:none; margin-bottom: 0;}
.footer-links li{margin-bottom: 10px;}
.footer-links li a{text-decoration:none; color:#bcc5d0; font-size:14px;}
.footer-links li a:hover{color: #e47b9b;}
.insta_pics{}
.insta_pics li{display: inline-block; padding-right: 5px; margin-bottom: 9px;}
.hourswrp{}
.hourswrp li{font-size: 14px; color: #bcc5d0;  border-bottom: 1px solid #484848; padding:5px 0;}
.hourswrp li span{float: right;}
.hourswrp li:first-child{padding-top: 0;}
.hourswrp li:last-child{border: none;}
.footer_info{margin-left: 14px;}

.footer-adress{list-style:none;}
.footer-adress li{margin:0;  padding-bottom: 15px; display: flex;}
.footer-adress li > i{vertical-align:top; font-size:20px !important; color:#bcc5d0; width:30px; }
.footer-adress li span a, .footer-adress li span{font-size: 14px; color: #bcc5d0; text-decoration: none;}
.footer-adress li span a:hover{color: #77dda7;}
.footer_phone a{font-size: 24px !important; font-weight: bold;}
.footer_address i, .footer_phone i{font-size: 24px !important;}
.footer_icon{text-align: left;}
.footerLinks li{position:relative; padding-left:16px;}
.footerLinks li a{font-size:14px; color:#fff; line-height:30px; text-decoration:none;}
.footerLinks li:before{content:"\f105"; font-family: 'FontAwesome'; position:absolute; top:4px; left:0; font-size:14px; color:#fff;}
.footerLinks li a:hover{color:#328bc3;}
.footer-bottom{padding: 20px 0;}
.copyright-text{font-size: 14px; color: #000;}


.social-icons ul li{display:inline-block; margin-right:3px;}
.social-icons ul li a{border:1px solid #fff;
    display:block;
     font-size:18px; text-align: center;
     color:#fff;
     width:38px;
     height:38px;
     line-height:38px;
     border-radius:100%;
}

.social-icons ul li:nth-child(1) a{background: #3c599b; border-color: #3c599b;}
.social-icons ul li:nth-child(2) a{background: #1ea1f3; border-color: #1ea1f3;}
.social-icons ul li:nth-child(3) a{background: #cd2e80; border-color: #cd2e80;}
.social-icons ul li:nth-child(4) a{background: #fb000f; border-color: #fb000f;}